*{
	outline: none;
	box-sizing: border-box;
}
body {
	font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 14px;
	line-height: 22px;
	color: #333333;
	padding: 0;
	margin: 0px;
}
body img{
	max-width: 100%;
	height: auto;
	display: block;
}
h1, h2, h3, h4, h5, h6 {
	display: inline-block;
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
}
.wrp {
	width: 1170px;
	margin: auto;
}
.wrp::after{
	content: "";
	display: table;
	clear: both;
}
.clearfix:before, 
.clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after{
	height: 0;
	clear: both;
	content: " ";
	font-size: 0;
	min-height: 0;
	display: block;
	visibility: hidden;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.clweb{
	color: #8bc34a;
}
.tac{
	text-align: center;
}
.tar{
	text-align: right!important;
}
.tal{
	text-align: left!important;
}
.taj {
	text-align: justify;
}
.lhn{
	line-height: normal;
}
.db {
	display: block;
}
button{
	cursor: pointer;
}
ul,ol{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	outline: 0;
	-webkit-transition: all ease .238s;
	-moz-transition: all ease .238s;
	transition: all ease .238s;
	color: #333;
}
a:hover {
	color: #8bc34a;
}
.flexbox{
	display: flex;
	flex-wrap: wrap;
}
.flex-center{
	display: flex;
	flex-wrap: wrap; 
	align-items: center;
}
.flex-1{
	flex: 1;
}
.jus-space{
	justify-content: space-between;
}
.relative{
	position: relative;
}
.ellipsis{
	height: 63px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.noidung {
	width: 100%;
	min-height: 100px;
	text-align: justify;
	line-height: 21px;
	font-size: 14px;
	margin: 10px 0;
	color: #000;
}
.noidung a{
	text-decoration:unset;
	color:unset;

}
.noidung a:before,
.noidung a:after{
	display:none;
}
.noidung a{
	color: #8bc34a;
}
.noidung a:hover {
	color: #8bc34a;
	text-decoration: underline;
}
.noidung img,
.noidung input[type=image]{
	max-width: 100%;
	height: auto!important;
	margin: auto;
	display: block!important;
}

.noidung iframe,
.noidung video{
	max-width: 100%;
	margin: auto;
	display: block!important
}

.noidung table {
	margin: auto
}

.noidung figcaption {
	text-align: center
}

.noidung .wImage iframe {
	width: 100%;
	height: 100%
}

.noidung.clip .wImage:before {
	padding-bottom: 56.23%
}

.noidung h1,
.noidung h2,
.noidung h3,
.noidung h4,
.noidung h5,
.noidung h6 {
	display: block
}

.noidung h1 {
	margin: .67em 0;
	font-size: 2em
}

.noidung h2 {
	margin: .83em 0;
	font-size: 1.5em
}

.noidung h3 {
	margin: 1em 0;
	font-size: 1.17em
}

.noidung h4 {
	margin: 1.33em 0
}

.noidung h5 {
	margin: 1.67em 0;
	font-size: .83em
}

.noidung h6 {
	margin: 2.33em 0;
	font-size: .67em
}

.noidung ul,
.noidung ol{
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}
.noidung ul li { 
	list-style-type: disc!important; 
}
.noidung ol li { 
	list-style-type: decimal!important; 
}
.noidung ul ul li,.noidung ol ul li { 
	list-style-type: circle!important; 
	margin-left: 15px!important; 
}
.noidung ol ol li,.noidung ul ol li { 
	list-style-type: lower-latin!important; 
	margin-left: 15px!important; 
}
.noidung p {
    margin-top: 1em;
    margin-bottom: 1em;
}
/*Fb Comments Width Fix*/
.fb_iframe_widget_fluid_desktop, 
.fb_iframe_widget_fluid_desktop span, 
.fb_iframe_widget_fluid_desktop iframe {
	max-width: 100% !important;
	width: 100% !important;
}
/*Hover img*/
.wImage {
	position: relative;
	overflow: hidden
}

.wImage:before {
	content: "";
	display: block;
	padding-bottom: 66.66%
}

.wImage .image {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%
}

.wImage .image.cover img {
	height: 100%;
	object-fit: cover;
	width: 100%
}
.wImage .image.contain img {
	height: 100%;
	object-fit: contain;
	width: 100%
}
.wImage .image img {
	display: block;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	position: relative;
	top: 50%;
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	-moz-transition: .5s all ease-in-out;
	transition: .5s all ease-in-out;
}
.wImage .image.cover:hover::before,
.wImage .image.contain:hover::before {
	-webkit-animation: shine 1s;
	animation: shine 1s;
}
.wImage .image::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}

@keyframes shine {
	100% {
		left: 125%;
	}
}
/*Prefix*/
#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	z-index: 9;
	display: none;
	top: 0;
	left: 0;
}
#header__icon{
	display: none;
}
.openSub{
	display: none;
}
#bttop {
	position: fixed;
	bottom: 55px;
	right: 10px;
	cursor: pointer;
	z-index: 100;
}
input[type=text], input[type=email], input[type=password] {
	width: 100%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
.button-hover {
	transition: all .2s ease-in-out;
}
.button-hover:hover, 
.button-hover:focus {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
	box-shadow: 0 4px 17px rgba(55,125,255,.35);
}
.pagination {
	margin: 5px 0 0;
	text-align: center;
}
.pagination li{
	display: inline-block;
	padding: 0;
	margin-right: 10px;
}
.pagination li a{
	display: inline-block;
	line-height: 32px;
	width: 35px;
	height: 35px;
	text-align: center;
	background-color: #fff;
	color: #8bc34a;
	border-radius: 4px;
	border: 1px solid #e8e8e8;
	-webkit-transition: all ease .238s;
	-moz-transition: all ease .238s;
	transition: all ease .238s;
}
.pagination li a:not(.active):hover{
	background-color: #f2f2f2;
}
.pagination li a.active{
	background-color:#8bc34a;
	color: #fff;
	cursor: default;
}
.map iframe{
	width: 100%;
	height: 450px;
	margin-bottom: 20px;
}
a:active, a:focus {
	outline: none;
	border: none;
	-moz-outline-style: none;
}

textarea::placebholder{
	font-family: inherit;
}
.facebook-widget {
	width: 100%!important;
	overflow: hidden;
}
/*End prefix*/

/*Video background*/
.video-wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.video-overlay {
	height: 100%;
	width: 100%;
	opacity: .8;
	position: absolute;
	z-index: 2;
}

.video-expand {
	color: white;
	font-size: 1.125rem;
	line-height: 1em;
	opacity: .4;
	position: absolute;
	top: 0.9375rem;
	right: 0.9375rem;
	z-index: 3;
}
.video-expand:hover {
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

.tv {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.tv .screen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	margin: auto;
	opacity: 0;
	transition: opacity .5s;
}
.tv .screen.active {
	opacity: 1;
}
/*End video background*/

/*Header*/
header{
	position: relative;
}
header.no-video{
	border-top: solid 3px #2f6a3f;
	background:url(Icon/bgheader2.jpg) center no-repeat;
	background-size: 100% 100%;
	min-height: 300px;
}
header.no-video .header-nav{
	position: static;
}
.wbutton {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    display: block;
    z-index: 2;
}
.wbutton .ButtonFunctionVideo {
    width: 1170px;
    margin: 0 auto;
}
.wbutton .ButtonFunctionVideo a.muted {
    background: url(Icon/muted.png) no-repeat left center;
    padding-left: 35px;
}
.wbutton .ButtonFunctionVideo a.muted span {
    background: url(Icon/textmuted.png) no-repeat;
    width: 88px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
}
.wbutton .ButtonFunctionVideo a.muted.unmute {
    background: url(Icon/unmute.png) no-repeat left center;
}
.wbutton .ButtonFunctionVideo a.muted.unmute span {
    background: url(Icon/textunmute.png) no-repeat left center;
}
.wbutton .ButtonFunctionVideo a.muted:hover span {
    opacity: 1;
}

.header-nav{
	z-index: 2;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 57px 0;
	transition: 0.3s all ease;
}
/*.header-nav.fixed{
	position: fixed;
	padding: 10px 0;
}*/
#logo{
	width: 200px;
}
.header-nav .box-right {
	height: 36px;
}
#header-search {
    float: left;
    width: 254px;
    height: 26px;
    margin: 5px 20px 0 0;
    background: #fff;
    position: relative;
}
#header-search .tbsearch {
    float: left;
    font: italic 11px inherit;
    color: #333;
    width: 205px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: none;
    border: 0;
}
#header-search .btsearch {
    display: inline-block;
    float: right;
    width: 30px;
    height: 26px;
    cursor: pointer;
    border: 0;
    background: url(Icon/btSearch.png) no-repeat center;
}
#header-search .btsearch:hover{
	background: url(Icon/btsearchHover.png) no-repeat center;
}
ul#menu {
    height: 36px;
    float: right;
    padding-right: 10px;
}
ul#menu > li {
    display: inline-block;    
    line-height: 36px;
    position: relative;
}

ul#menu > li:after {
	content: "|";
    display: inline-block;
    padding: 0 4px;
    color: white;
    line-height: 36px;
}
ul#menu > li:last-child:after{
	display: none;
}
ul#menu > li > a{
	color: #fff;
}
ul#menu > li > a:hover{
	color: #c8292e;
}
.dropdown-menu{
	min-width: 220px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: white;
    border-radius: 0 0 4px 4px;
    z-index: 10;
    left: -18px;
    top: 70px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    transition: 0.3s all ease;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(205,205,205,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(205,205,205,1);
    box-shadow: 0px 0px 10px 0px rgba(205,205,205,1);
}
.dropdown-menu li{
	display: block;
	width: 100%;
}
.dropdown-menu li a{
	display: block;
    background-color: #fff;
    font-weight: 500;
    font-size: 0.928em;
    border-top: 1px solid #eaeaea;
    padding: 10px 19px;
    line-height: 24px;
}
.dropdown-menu li a:hover{
	margin-left: 10px;
}
#menu > li:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 35px;
}
/*End header*/

/*Footer*/
footer .footer-top {
    padding: 30px 0 15px;
    /*border-bottom: 1px solid #4A4A4A;*/
    text-align: center;
}
ul.footer-socials {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
ul.footer-socials li {
    float: none;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 15px;
}
ul.footer-socials li a {
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
}
ul.footer-socials li a i {
    font-size: 12px;
    vertical-align: top;
    line-height: 20px;
    color: #999;
}
ul.footer-socials li a span {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    display: inline-block;
    letter-spacing: 1px;
    margin-left: 10px;
    vertical-align: top;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
ul.footer-socials li a:hover span{
    color: #8bc34a;
}
footer .footer-bottom{
	margin-top: 5px;
	padding: 10px 0;
	border-top: 1px dotted black;
	text-align: center;
}
/*footer .footer-bottom .pull-left{
	width: 75%;
	margin-right: 30px;
}
footer .footer-bottom .pull-right{
	width: calc(100% - (75% + 30px));
}*/
.link-cate-footer a:hover{
	color: #8bc34a;
}
.link-cate-footer a:after{
	content: "|";
	padding: 0 5px;
}
.link-cate-footer a:last-child:after{
	display: none;
}
/*End footer*/

#new .pull-left{
    width: calc(100% - 300px);
    margin-right: 30px;
}
#new .pull-right{
    width: 270px;
}
#new .pull-right .new-cate li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 16px;
}
#new .pull-right .new-cate li a i {
    font-size: 8px;
    position: relative;
    top: -2px;
    margin-right: 10px;
    color: #cccccc;
}
#new .pull-right .new-cate li a:hover i{
    color: #8bc34a;
}
#new{
    padding: 30px 0 40px 0;
}
.new-list .cateName {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #d3d3d3;
    margin-bottom: 30px;
    align-items: flex-end;
}
.new-list .cateName .name {
    font-weight: 700;
    font-size: 22px;
    display: inline-block;
    margin-bottom: 7px;
}
.new-list .cateName .xemtatca {
    width: 110px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: block;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    border-bottom: none;
}
.new-list .cateName .xemtatca:hover {
    background: #8bc34a;
    color: #fff;
    border-color: #8bc34a;
}
.new-list.index .new-item {
    display: flex;
    margin-bottom: 25px;
}
.new-list .new-item .wImage {
    width: 240px;
    border: 4px solid #fff;
    outline: 1px solid #dcdcdc;
    border-radius: 5px;
    overflow: hidden;
}
.new-list .new-item .wImage:before {
    padding-bottom: 60.87%;
}
.new-list .new-item .wImage img {
    border-radius: 5px;
    overflow: hidden;
}
.new-list .new-item .info {
    flex: 1;
    margin-left: 18px;
}
.new-list .new-item .info .name {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
#new .date-view {
    color: #787878;
    font-size: 13px;
    margin: 15px 0;
}
#new .date-view span {
    display: inline-block;
    margin-right: 65px;
}
.new-list .new-item .info .desc {
    line-height: 21px;
    max-height: 63px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #333;
}

#new .listNew{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}
#new .listNew li {
    line-height: 21px;
    margin-bottom: 7px;
}
#new .listNew li a i {
    font-size: 7px;
    position: relative;
    top: -2px;
    margin-right: 5px;
    color: #dcdcdc;
}
#new .listNew li a:hover i{
    color: #8bc34a;
}

#new .group-item{
    margin-bottom: 30px;
}
#new .pull-right{
    position: sticky;
    top: 30px;
}
.new-list.category .new-item {
    display: flex;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px dashed #d6d6d6;
}
#breadcrumb{
	margin-top: 5px;
}
#breadcrumb .wrp {
    background: url(Icon/bg-PageRoad.png) left top;
    padding: 3px 7px;
}
#breadcrumb ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#breadcrumb ul li {
    display: inline-block;
    margin-right: 10px;
}
#breadcrumb ul li:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "";
    font-size: 8px;
    margin-left: 10px;
    position: relative;
    top: -1px;
}
#breadcrumb ul li:last-child:after{
    display: none;
}
blockquote {
    border-left: 5px solid #d2d2d2;
    padding-left: 15px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f2f2f2;
}
#gl-toc {
    margin-bottom: 15px;
}
#gl-toc .title {
    background: #8bc34a;
    padding: 9px 20px;
    border-radius: 10px 10px 0 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#gl-toc .title span {
    font-size: 20px;
}
#gl-toc .content {
    border: 1px solid #d3d3d3;
    border-top: none;
    background: #f2f2f2;
    padding: 20px 35px;
    border-radius: 0 0 10px 10px;
}
#gl-toc .content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#gl-toc .content ul li {
    position: relative;
}
#gl-toc .content ul li a {
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
}
#gl-toc .showhide.active i:before{
    content: "";
}
#gl-toc .head3{
	padding-left: 15px;
}
.commonTitleName {
    font-size: 22px;
    margin-bottom: 10px;
}
.plugDetail {
    padding: 13px 0;
    margin: 0;
    list-style: none;
    margin-top: 18px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 0;
    border-top: 1px solid #e1e1e1;
}
.plugDetail li {
    display: inline-block;
    margin-right: 30px;
}
.plugDetail li i {
    font-size: 18px;
}
.new-other .title{
    font-size: 22px;
    display: block;
    margin: 30px 0 15px 0;
}

.new-other .other-item{
    border: 1px solid #dcdcdc;
    display: block;
    cursor: pointer;
}
.new-other .other-item .wImage:before {
    padding-bottom: 56.3%;
}
.new-other .other-item .info{
    padding: 15px;
}
.new-other .other-item .name {
    display: block;
    font-size: 16px;
    line-height: 21px;
    max-height: 42px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
}
.new-other .other-item .desc {
    line-height: 21px;
    max-height: 63px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #333;
}
.new-other .other-item .date-view span {
    margin-right: 20px!important;
}
.new-other .group-item .owl-nav{
	position: absolute;
    right: 0;
    top: -70px;
}
.group-item .owl-next, 
.group-item .owl-prev{
    width: 38px;
    height: 39px;
    font-family: 'Font Awesome 5 Free'!important;
    font-weight: 900!important;
    color: #dcdcdc!important;
    border: 1px solid #dcdcdc!important;
    display: inline-block;
    margin-left: 12px;
    margin-right: 0;
    border-bottom: 2px solid #8bc34a!important;
    background: white;
}
.group-item .owl-prev:hover, 
.group-item .owl-next:hover{
    color: #8bc34a!important;
}
.group-item .owl-prev:after{
    content: "";
    line-height: 38px;
    text-align: center;
    font-size: 20px;
    display: block;
}
.group-item .owl-next:after{
    content: "";
    line-height: 38px;
    text-align: center;
    font-size: 20px;
    display: block;
}
.detail-title {
    border-bottom: 2px solid #d3d3d3;
    margin-bottom: 20px;
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.detail-title:before {
    content: "";
    width: 100px;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -2px;
    left: 0px;
}
.tv .screen{
	width: 100%;
	left: 0px;
}