

@media(max-width:1199px) {
	.wrp{
		width: calc(100% - 40px)
	}
	#header__icon {
		display: block;
		float: right;
		position: relative;
		background: transparent;
		cursor: pointer;
		right: 0px;
		width: 26px;
		height: 16px;
		-webkit-transition: all ease .238s;
		-moz-transition: all ease .238s;
		transition: all ease .238s;
	}
	#header__icon span {
		position: absolute;
		width: 100%;
		height: 3px!important;
		left: 0;
		top: 50%;
		overflow: hidden;
		text-indent: 200%;
	}
	#header__icon:before, 
	#header__icon:after {
		content: '';
		position: absolute;
		top: 0;
		height: 3px;
		width: 100%;
		left: 0;
		top: 50%;
		-webkit-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	#header__icon:before {
		-webkit-transform: translate3d(0,-7px,0);
		-moz-transform: translate3d(0,-7px,0);
		transform: translate3d(0,-7px,0);
	}
	#header__icon:after {
		-webkit-transform: translate3d(0,7px,0);
		-moz-transform: translate3d(0,7px,0);
		transform: translate3d(0,7px,0);
	}
	#header__icon:before, 
	#header__icon:after, 
	#header__icon span {
		background-color: black;
		-webkit-transition: all ease .238s;
		-moz-transition: all ease .238s;
		transition: all ease .238s;
	}
	#header__icon.active:before {
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		-moz-transform: rotate3d(0, 0, 1, 45deg);
		transform: rotate3d(0, 0, 1, 45deg);
	}
	#header__icon.active:after {
		-webkit-transform: rotate3d(0, 0, 1, -45deg);
		-moz-transform: rotate3d(0, 0, 1, -45deg);
		transform: rotate3d(0, 0, 1, -45deg);
	}
	#header__icon.active span {
		opacity: 0;
	}
	#menu {
		display: none;
		margin: 0 auto;
		width: 100%;
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 99999;
		background-color: #262626;
	}
	#menu > li {
		margin: 0;
		position: relative;
		text-align: center;
		cursor: pointer;
		border-top: 1px solid #333;
		padding-top: 0;
		padding-bottom: 0;
		height: auto;
		width: 100%;
	}
	#menu li a{
		padding: 21px 0 22px;
	}
	#menu .dropdown-menu {
		display: block;
		position: unset;
		transform: translateX(0);
		width: auto;
		opacity: 1;
		visibility: visible;
		display: none;
		border-left: 4px solid #cdcdcd;
		border-top: 3px solid #ffbc13;
		transition: unset;
	}
	
	#menu .openSub {
		display: block;
		color: #fff;
		font-size: 20px;
		position: absolute;
		width: 50px;
		height: 61px;
		right: 0px;
		top: 0px;
		line-height: 58px;
		text-align: center;
	}
	#menu .openSub.ac .fas::before {
		content: "ï–";
	}
	#menu > li:hover > a {
		color: white;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	#menu > li:hover {
		background: transparent;
	}
	.header-bottom .wrp{
		display: flex;
		align-items: center;
	}
	.header-bottom .flex-center.jus-space.relative{
		width: calc(100% - 40px);
		position: unset;
	}
	
}

@media(max-width:991px) {
	.headline-title,
	.headline-link{
		display: none!important;
		float: none;
	}
	.header-top .headline{
		display: flex;
		justify-content: center;
	}
	header .header-bottom{
		padding-bottom: 0px;
	}
	.content-new .pull-left,
	.content-new .pull-right{
		width: 100%;
		float: none;
		margin-right: 0px;
		margin-left: 0px;
	}
	#other-new .owl-prev, 
	#other-new .owl-next,
	.image-slide .owl-nav .owl-prev, 
	.image-slide .owl-nav .owl-next{
		opacity: 1
	}
}

@media(max-width:767px) {
	.wrp{
		width: calc(100% - 20px)
	}
	#menu > li > a{
		line-height: normal!important;
		padding: 10px 0!important;
		color: white;
	}
	#menu > li > a:hover{
		background: none;
	}
	.show-search #searchform input.search-input{
		padding: 0 10px;
	}
	#post-header .item{
		width: 50%;
	}
	#post-header .item-1{
		width: 100%;
		margin-bottom: 10px;
	}
	#post-header .item .wImage:before{
		padding-bottom: 66%;
	}
	#post-header .over .top-meta,
	#post-header .over .feat-meta{
		display: none;
	}
	#link-cate .item{
		width: calc((100% - 20px)/2);
		margin-right: 20px;
		margin-bottom: 20px;
	}
	#link-cate .item:nth-child(2n){
		margin-right: 0px;
	}
	.content-new .group-item .item .wImage,
	.footer-top .col-even{
		margin-bottom: 10px;
	}
	.content-new .group-item .item .wImage,
	.content-new .group-item .item .info,
	.footer-top .col-even{
		width: 100%;
		float: none;
		margin-right: 0px;
		margin-left: 0px;
	}
	#post-header .over .name{
		font-size: 14px!important;
		line-height: 1.1;
		height: 31px!important;
	}
	#post-header .over{
		bottom: 5px;
	}
	#other-new{
		margin-bottom: 20px;
	}
}

@media(max-width:479px) {
	#link-cate .item{
		width: 100%;
		float: none;
		margin-right: 0px;
		margin-left: 0px;
	}

}

@media(max-width:320px){
	

}