

@media(max-width:1199px) {
	.wrp{
		width: calc(100% - 40px)
	}
	#header__icon {
		display: block;
		float: right;
		position: relative;
		background: transparent;
		cursor: pointer;
		right: 0px;
		width: 26px;
		height: 16px;
		-webkit-transition: all ease .238s;
		-moz-transition: all ease .238s;
		transition: all ease .238s;
	}
	#header__icon span {
		position: absolute;
		width: 100%;
		height: 3px!important;
		left: 0;
		top: 50%;
		overflow: hidden;
		text-indent: 200%;
	}
	#header__icon:before, 
	#header__icon:after {
		content: '';
		position: absolute;
		top: 0;
		height: 3px;
		width: 100%;
		left: 0;
		top: 50%;
		-webkit-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
	}
	#header__icon:before {
		-webkit-transform: translate3d(0,-7px,0);
		-moz-transform: translate3d(0,-7px,0);
		transform: translate3d(0,-7px,0);
	}
	#header__icon:after {
		-webkit-transform: translate3d(0,7px,0);
		-moz-transform: translate3d(0,7px,0);
		transform: translate3d(0,7px,0);
	}
	#header__icon:before, 
	#header__icon:after, 
	#header__icon span {
		background-color: white;
		-webkit-transition: all ease .238s;
		-moz-transition: all ease .238s;
		transition: all ease .238s;
	}
	#header__icon.active:before {
		-webkit-transform: rotate3d(0, 0, 1, 45deg);
		-moz-transform: rotate3d(0, 0, 1, 45deg);
		transform: rotate3d(0, 0, 1, 45deg);
	}
	#header__icon.active:after {
		-webkit-transform: rotate3d(0, 0, 1, -45deg);
		-moz-transform: rotate3d(0, 0, 1, -45deg);
		transform: rotate3d(0, 0, 1, -45deg);
	}
	#header__icon.active span {
		opacity: 0;
	}
	#menu {
		display: none;
		margin: 0 auto;
		width: 100%;
		position: absolute;
		left: 0;
		top: 100px;
		z-index: 99999;
		background-color: #262626;
	}
	#menu > li {
		margin: 0;
		position: relative;
		text-align: center;
		cursor: pointer;
		border-top: 1px solid #333;
		padding-top: 0;
		padding-bottom: 0;
		height: auto;
		width: 100%;
	}
	#menu li{
		padding: 5px 0 7px;
	}
	#menu .dropdown-menu {
		display: block;
		position: unset;
		transform: translateX(0);
		width: auto;
		opacity: 1;
		visibility: visible;
		display: none;
		border-left: 4px solid #cdcdcd;
		border-top: 3px solid #ffbc13;
		transition: unset;
	}
	
	#menu .openSub {
		display: block;
		color: #fff;
		font-size: 20px;
		position: absolute;
		width: 49px;
		height: 49px;
		right: 0px;
		top: 0px;
		line-height: 49px;
		text-align: center;
	}
	#menu .openSub.ac .fas::before {
		content: "ï–";
	}
	#menu > li:hover > a {
		color: white;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	#menu > li:hover {
		background: transparent;
	}
	.header-nav .box-right{
		height: auto;
	}
	/*.header-nav{
		background-color: rgba(0, 0, 0, 0.8);
	}*/
	ul#menu{
		height: auto;
		padding-right: 0px;
	}
	ul#menu > li:after{
		display: none;
	}
	.header-nav{
		padding: 30px 0;
	}
	
}

@media(max-width:991px) {
	#header-search{
		width: calc(100% - 40px);
		position: absolute;
		left: 20px;
		top: 150px;
		z-index: 10;
	}
	/*.header-nav.fixed{
		position: fixed!important;
		padding: 10px 0;
	}*/
	header.no-video{
		min-height: 200px;
		background-size: cover
	}
}

@media(max-width:767px) {
	.wrp,
	.wbutton .ButtonFunctionVideo{
		width: calc(100% - 30px)
	}
	.video-wrapper{
		height: 300px;
	}
	.tv .screen{
		width: 100%;
		left: 0px;
	}
	#new .pull-left,
	#new .pull-right,
	.new-list .new-item .wImage,
	.new-list .new-item .info{
		width: 100%;
		float: none;
		margin-right: 0px;
		margin-left: 0px;
	}
	.new-list.index .new-item,
	.new-list.category .new-item{
		flex-direction: column;
	}
	.new-list .new-item .wImage{
		margin-bottom: 10px;
	}
	.pagination{
		margin-bottom: 20px;
	}
}

@media(max-width:479px) {
	

}

@media(max-width:320px){
	

}