@font-face{
    font-family:"utm-bebas";
    src:url("UTM Bebas.ttf") format("woff"),
    url("UTM Bebas.ttf") format("opentype"),
    url("UTM Bebas.ttf") format("truetype");
}
.fcafeta{
    font-family: utm-bebas;
}
